.account {
 background: none !important; 
 color: #57606a;
}
.odin-project{
  padding-top: 30px;;
}
.project{
  font-size: 20px;
  color: #57606a;
}
.odin-logo {
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
  }
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #24292f;
  height: 80px;
  width: 100%;
}
label.logo{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  
}

nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  background: white;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width:952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width:858px){
  .checkbtn{
    display: block;
  }
  .ul-nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: white;
  }
  #check:checked ~ ul{
    left:0;
  }
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  
}
.wrapper-list-1{
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  }

.wrapper-list-1>*{

  padding:10px;
  margin: auto;
  flex: 1 100%; 

} 
.wrapper>*{
  padding:10px;
  margin: 10px;
  flex: 1 100%; 

}
.header{
  background:white;
  height:20px;
  padding-top: 5px;
  color: #ce973e;
}
.footer{
  background: white;
  text-align: center;
}
.footer hr{
  margin-top: auto;
  margin-bottom: auto;
  border: 0;
  border-top: 1px solid #c9c7c7;
  width:95%;
  margin-left: auto;
  margin-right: auto;
}
.footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.design {
  padding:30px 30px;
}
.main {
  background: white;
  height: auto;
  text-align: center;
}


.aside {
  margin: 30px;
  padding: 15px;
  height: auto;
  background: white;
  font-family: sans-serif;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.side-header{
  color: #4a4a4a;
  text-align: center;
}
@media all and (min-width: 800px){
  .main{
    flex: 3;
  }
  .aside{
    order: 1;
  }
  .main{
    order: 2;
  }
  .footer{
    order: 4;
  }
  
}
@media all and (min-width: 600px){
  .aside{
    flex: 1;
  }
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
hr {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
section div img{
  height: 250px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font: normal 400 14px/20px "Source Sans Pro",sans-serif;
  text-align: left;
  height: auto;
  max-width: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 20px 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height:auto;
}

.list-card-1 {
  padding: 10px;
  flex: 50%;
}

.list-card-2 {
  padding: 10px;
  flex: 50%;
}
.list-card-3 {
  padding: 10px;
  flex: 50%;
}

@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}
.card .container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:250px;
}
.list-recipe{
  display: grid;
  font-family: 'Poppins', sans-serif;
  padding:10px;
  line-height: 25px;
  text-align: center;
}
.list-recipe a{ 
  color: #18272F;
  position: relative;
}

.list-recipe a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ce973e;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
 
}

.list-recipe a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.recipe-body {
  background: #fff;
  font: 13px "Open Sans", sans-serif;
  color: #222;
  text-align: left;
}

.recipe-card {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(240, 241, 243, 1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(240, 241, 243, 1);
  box-shadow: 0px 0px 20px 1px rgba(240, 241, 243, 1);
  border: 1px solid #f0f1f3;
  width: auto;
  margin: 10px auto;
}
.recipe-card-body {
  padding: 20px;
}
.recipe-card-heading {
  padding: 0;
  margin: 0 0 0;
  color: #444;
  font: 700 14px/20px Source Sans Pro, sans-serif;
  font-size: 48px;
  line-height: 52px;
}
.recipe-card-subhead {
  font-size: 13px;
  color: #555;
  margin-bottom: 30px;
}
.recipe-card-ingredients {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  column-count: 1;
}
  .recipe-card li {
    margin-bottom: 5px;
  }
  .recipe-card-ingredients li:before {
    content: "\2022";
    color: #eb9376;
    margin-right: 5px;
  }


.recipe-card-nav {
  margin: 0 0 20px;
  padding: 0;
  border-bottom: 1px solid #eb9376;
}
  .recipe-card li {
    display: inline-block;
    margin-right: 30px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  .recipe-card-nav h3:after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 5px solid #eb9376;
    transition: width 250ms ease-in-out 0s;
  }
  .recipe-card-nav h3:hover {
    cursor: pointer;
  }
  .recipe-card-nav h3:hover:after,
  .recipe-card-nav h3.active:after {
    width: 100%;
  }


.breadcrumb {
  padding: 8px 16px;
  font: 700 14px/20px Source Sans Pro, sans-serif;
  list-style: none;
  
}
.breadcrumb li {display: inline;}
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    font-family: "FontAwesome";
    content: "\f105";
}
.breadcrumb li a {
  color: black;

}


.check-recipe { margin: 30px; } 
.checklist label { font-size: 24px; }
.checklist div { 
  width: 175px; 
  margin-left: 30px;
}


/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */