.account {
 background: none !important; 
 color: #57606a;
}
.odin-project{
  padding:10px 30px;
}
.project{
  font-size: 20px;
  color: #57606a;
}
.odin-logo {
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
  }
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  }
nav {
  background: #24292f;
  height: 80px;
  width: 100%;
}
label.logo{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float:right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  background: white;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width:952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width:858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: white;
  }
  #check:checked ~ ul{
    left:0;
  }
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.wrapper>*{
  padding:10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}
.header{
  background:white;
  height:50px;
  padding-top: 10px;
}
.footer{
  background: white;
  height: 50px;
}
.footer hr{
  margin-top: 5px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #c9c7c7;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.design{
  padding:30px 30px;
}
.main{
  text-align: left;
  background: white;
  height: 300px;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.aside{
  background: white;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.list-recipe a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1x;
  border-bottom: 3px solid transparent;
}
.list-recipe{
  overflow: hidden;
}
.list-recipe a:hover{
  border-bottom: 3px solid red;
}

@media all and (min-width: 800px){
  .main{
    flex: 3;
  }
  .aside{
    order: 1;
  }
  .main{
    order: 2;
  }
  .footer{
    order: 4;
  }
}
@media all and (min-width: 600px){
  .aside{
    flex: 1;
  }
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
hr {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

